<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Microsoft+Sans Serif&display=swap" rel="stylesheet">
        <link href="static/css/app.css" rel = "stylesheet">
        <title>VirtusoPlus</title>
    </head>
    <body class = "home_body">
        <a class = "choice_link">
            <div></div>
            <div></div>
        </a>
        <a href = "/join" class = "choice_link">
            <div  class = "join_choice">
                <span>
                    Join a room
                </span>
            </div>
        </a>
        <a href = "/create" class = "choice_link">
            <div class = "create_choice">
                <span>
                    Create a room
                </span>
            </div>
        </a>
    </body>
</html>