<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join Page</title>
    <link rel="stylesheet" href="static/css/app.css">
</head>
<body class = "join_body">
    <div class="join_container">
        <h2>Join Page</h2>
        <div class="input_group">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" placeholder="Enter your name">
        </div>
        <div class="input_group">
            <label for="room_code">Room Code:</label>
            <input type="text" id="room_code" name="room_code" placeholder="Enter room code">
        </div>
        <button class="join_button">Join</button>
        <a href = "/" class = "back_button">Back</a>
    </div>
</body>
</html>
